body{
    font-size: 6em;
    text-align: center;
}

#title{
    font-size: 1em;
    color:#ffa500;

}

.count{
    margin: 0;
    font-weight: bold;
    color: #888;
}


.wrap{
    margin-top: 20px;
    padding: 80px 40px;
    background-color: #ffc993;
    font-weight: bold;
    color: #fff;
}

.typed{
    color: lightgreen;
}

.mistyped{
    background-color: red;
}

